transformers
git+https://github.com/google-research/bleurt.git@cebe7e6f996b40910cfaa520a63db47807e3bf5c
py7zr
datasets
einops
accelerate
bitsandbytes==0.40.2
evaluate
bert_score==0.3.13
absl-py
nltk==3.8.1
rouge-score==0.1.2
sacremoses==0.0.53
sortedcontainers
subword-nmt==0.3.8
scikit-learn-extra==0.3.0
torchmetrics==0.10.3
peft